<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:remove="all">미스터랜드 계약상담신청 완료</title> 
</head> 
<body class="half-padding"
	style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%;">
	<table class="wrapper" style="border-collapse: collapse; table-layout: fixed; min-width: 320px; width: 100%; background-color: #fbfbfb;" cellpadding="0" cellspacing="0" role="presentation">
		<tbody>
			<tr>
				<td>
					<div role="banner">
						<div class="preheader"
							style="Margin: 0 auto; max-width: 560px; min-width: 280px; width: 280px; width: calc(28000% - 167440px);">
							<div style="border-collapse: collapse; display: table; width: 100%;">
								<div class="snippet"
									style="display: table-cell; Float: left; font-size: 12px; line-height: 19px; max-width: 280px; min-width: 140px; width: 140px; width: calc(14000% - 78120px); padding: 10px 0 5px 0; color: #999; font-family: Georgia, serif;">

								</div>
								<div class="webversion"
									style="display: table-cell; Float: left; font-size: 12px; line-height: 19px; max-width: 280px; min-width: 139px; width: 139px; width: calc(14100% - 78680px); padding: 10px 0 5px 0; text-align: right; color: #999; font-family: Georgia, serif;">

								</div>
							</div>
						</div>
						<div class="header"
							style="Margin: 0 auto; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px);"
							id="emb-email-header-container">
							<div class="logo emb-logo-margin-box"
								style="font-size: 26px; line-height: 32px; Margin-top: 6px; Margin-bottom: 16px; color: #41637e; font-family: Avenir, sans-serif; Margin-left: 20px; Margin-right: 20px;"
								align="center">
								<div class="logo-left" align="left" id="emb-email-header">
									<a
										style="text-decoration: none; transition: opacity 0.1s ease-in;"
										href="http://www.misterland.shop/misterland/index.do" target="_blank"><img
										style="display: block; height: auto; width: 100%; border: 0; max-width: 67px;"
										src="http://misterland.shop/resources/img/favicon.ico" alt="misterland" width="67" /></a>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="layout one-col fixed-width"
							style="Margin: 0 auto; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
							<div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #ffffff;">
								<div class="column"
									style="text-align: left; color: #565656; font-size: 14px; line-height: 21px; font-family: Georgia, serif; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px);">
									<div
										style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px;"
										align="center">
										<img
											class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top"
											style="border: 0; display: block; height: auto; width: 100%; max-width: 900px;"
											alt="" width="600"
											src="http://misterland.shop/resources/img/divisionbar.jpg" />
									</div>

									<div
										style="Margin-left: 20px; Margin-right: 20px; Margin-top: 20px;">
										<div
											style="mso-line-height-rule: exactly; mso-text-raise: 4px;">
											<h1
												style="Margin-top: 0; Margin-bottom: 0; font-style: normal; font-weight: bold; color: #565656; font-size: 22px; line-height: 50px; font-family: avenir, sans-serif;">
												<span class="font-avenir">계약상담신청 완료</span>
											</h1>
											<p class="size-14"
												style="Margin-top: 20px; Margin-bottom: 0; font-family: avenir, sans-serif; font-size: 14px; line-height: 21px; text-align: left;"
												lang="x-size-14">
												<span class="font-avenir">
													<span th:text="${name}"></span>님, 반갑습니다.<br/><br/>
													요청하신 계약상담신청이 정상적으로 완료 되었습니다.<br/><br/>
													빠른 시일내에 답변 드리겠습니다.<br/><br/>
													미스터랜드와 함께해 주셔서 고맙습니다.<br/><br/>
												</span>
											</p>
										</div>
									</div>

									<div
										style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px; Margin-top: 20px;"
										align="center">
										<img
											class="gnd-corner-image gnd-corner-image-center gnd-corner-image-bottom"
											style="border: 0; display: block; height: auto; width: 100%; max-width: 900px;"
											alt="" width="600" src="http://misterland.shop/resources/img/templates/contract_mail.jpg" />
									</div>
									
									<div style="line-height:20px;font-size:20px;">&nbsp;</div>
									
									<div
										style="font-size: 12px; font-style: normal; font-weight: normal; line-height: 19px;"
										align="center">
										<img
											style="border: 0; display: block; height: auto; width: 100%; max-width: 900px;"
											alt="" width="600"
											src="http://misterland.shop/resources/img/divisionbar.jpg" />
									</div>
									
								</div>
							</div>
						</div>

						<div style="line-height: 23px; font-size: 23px;">&nbsp;</div>


						<div role="contentinfo">
							<div class="layout email-footer"
								style="Margin: 0 auto; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
								<div class="layout__inner"
									style="border-collapse: collapse; display: table; width: 100%;">
									<div class="column wide"
										style="text-align: left; font-size: 12px; line-height: 19px; color: #999; font-family: Georgia, serif; Float: left; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px);">
										<div
											style="Margin-left: 20px; Margin-right: 20px; Margin-top: 10px; Margin-bottom: 10px;">
											<table class="email-footer__links emb-web-links"
												style="border-collapse: collapse; table-layout: fixed;"
												role="presentation">
												<tbody>
													<tr role="navigation">
														<td class="emb-web-links" style="padding: 0; width: 26px;"><a
															style="text-decoration: underline; transition: opacity 0.1s ease-in; color: #999;"
															href="http://facebook.com"><img style="border: 0;"
																src="https://i2.createsend1.com/static/eb/master/13-the-blueprint-3/images/facebook.png"
																width="26" height="26" alt="Facebook" /></a></td>
														<td class="emb-web-links"
															style="padding: 0 0 0 3px; width: 26px;"><a
															style="text-decoration: underline; transition: opacity 0.1s ease-in; color: #999;"
															href="http://facebook.com"><img style="border: 0;"
																src="https://i3.createsend1.com/static/eb/master/13-the-blueprint-3/images/twitter.png"
																width="26" height="26" alt="Twitter" /></a></td>
														<td class="emb-web-links"
															style="padding: 0 0 0 3px; width: 26px;"><a
															style="text-decoration: underline; transition: opacity 0.1s ease-in; color: #999;"
															href="http://facebook.com"><img style="border: 0;"
																src="https://i8.createsend1.com/static/eb/master/13-the-blueprint-3/images/pinterest.png"
																width="26" height="26" alt="Pinterest" /></a></td>
													</tr>
												</tbody>
											</table>
											<div
												style="font-size: 12px; line-height: 19px; Margin-top: 20px;">
												<div>본 메일은 계약상담신청이 완료되었음을 알려드리기 위해 발신되었습니다.</div>
												<div>COPYRIGHTS (C) Misterland All Rights Reserved.</div>
											</div>
											<div style="font-size: 12px; line-height: 19px; Margin-top: 18px;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
